version: '3.7'
services:
  sentry:
    image: sentry:{{ sentry_docker_image_tag }}
    restart: unless-stopped
    {% if not (sentry_virtual_host or sentry_letsencrypt_host) -%}
    ports:
      - 9000:9000
    {% endif -%}
    volumes:
      - ./sentry-config.yml:/etc/sentry/config.yml
    env_file: env-sentry
    environment:
      {% if sentry_virtual_host -%}
      VIRTUAL_HOST: {{ sentry_virtual_host }}
      {% endif -%}
      {% if sentry_letsencrypt_host -%}
      LETSENCRYPT_HOST: {{ sentry_letsencrypt_host }}
      LETSENCRYPT_EMAIL: {{ sentry_letsencrypt_email }}
      {% endif -%}
      SENTRY_REDIS_HOST: redis
      SENTRY_POSTGRES_HOST: postgres
      SENTRY_DB_USER: sentry
      SENTRY_DB_PASSWORD: sentry

  cron:
    image: sentry:{{ sentry_docker_image_tag }}
    restart: unless-stopped
    env_file: env-sentry
    environment:
      SENTRY_REDIS_HOST: redis
      SENTRY_POSTGRES_HOST: postgres
      SENTRY_DB_USER: sentry
      SENTRY_DB_PASSWORD: sentry
    command: run cron

  worker:
    image: sentry:{{ sentry_docker_image_tag }}
    restart: unless-stopped
    env_file: env-sentry
    environment:
      SENTRY_REDIS_HOST: redis
      SENTRY_POSTGRES_HOST: postgres
      SENTRY_DB_USER: sentry
      SENTRY_DB_PASSWORD: sentry
    command: run worker

  redis:
    image: redis:5.0-alpine
    restart: unless-stopped

  postgres:
    image: postgres:10.4-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=sentry
      - POSTGRES_USER=sentry
    volumes:
      - {{ sentry_postgres_path }}:/var/lib/postgresql/data

  {% if sentry_postfix_domain -%}
  postfix:
    image: marvambass/versatile-postfix:latest
    restart: unless-stopped
    volumes:
      - {{ sentry_postfix_dkim_path }}:/etc/postfix/dkim/
      - {{ sentry_postfix_maildirs_path }}:/var/mail
    environment:
      - DKIM_SELECTOR={{ sentry_dkim_selector }}
    command: {{ sentry_postfix_domain }} user:password
  {%- endif %}

networks:
  default:
    name: sentry
